<div class="form">
    <h1>Register</h1>
    <!-- Username Field -->
    <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input matInput placeholder="Enter User name">
    </mat-form-field>
    <br>
    <!-- Email Field -->
    <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter Email">
    </mat-form-field>
    <!-- Phone Number Field -->
    <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Enter Phone Number">
    </mat-form-field>
    <br>
    <!-- Passsword Field -->
    <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder=" Enter Password">
    </mat-form-field>
    <br>
    <!-- Choose occupation by using select (mat-select) -->
    <mat-form-field appearance="fill">
        <mat-label>Choose your Occupation</mat-label>
        <mat-select>
            <mat-option value="option">Farmer</mat-option>
            <mat-option value="option">Agriculture Officer</mat-option>
            <mat-option value="option">Industrialist</mat-option>
            <mat-option value="option">Business Man</mat-option>
            <mat-option value="option">Commision Agent</mat-option>
            <mat-option value="option">Other</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <!-- Register Button -->
    <button class="submit">Register</button>
</div>
<br><br>