img {
    width: 100%;
    height: 500px;
}

p {
    padding-left: 1%;
    padding-right: 1%;
    font-size: large;
    text-align: left;
}

h1 {
    font-weight: 600;
    font-size: 2.7em;
}

ul li {
    text-align: center;
    font-size: large;
    list-style: none;
    padding: 8px;
}

ol {
    padding-left: 3%;
    font-weight: 600;
}

li {
    padding-left: 1%;
    font-size: large;
}

#home,
.sub-main,
#About {
    line-height: 1.6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: whitesmoke;
    color: black;
}

#contact {
    background-color: skyblue;
    color: black;
}

table {
    width: 80%;
}

#Prices {
    display: table;
    padding-left: 15%;
    width: 80%;
}