<div class="form">
    <h1>Raw Material Calculation</h1>
    <!-- Name Field -->
    <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Enter name">
    </mat-form-field>
    <br>
    <!-- Village Field -->
    <mat-form-field appearance="fill">
        <mat-label>Village</mat-label>
        <input matInput placeholder="Enter Village">
    </mat-form-field>
    <!-- Phone number Field -->
    <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Enter Phone Number">
    </mat-form-field>
    <br>
    <!-- Industry Name Field -->
    <mat-form-field appearance="fill">
        <mat-label>Industry Name</mat-label>
        <input matInput placeholder=" Enter Industry Name">
    </mat-form-field>
    <br>
    <!-- Crop Name Field using material select -->
    <mat-form-field appearance="fill">
        <mat-label>Choose Crop Name</mat-label>
        <mat-select>
            <mat-option value="option">Cotton</mat-option>
            <mat-option value="option">Chilly</mat-option>
            <mat-option value="option">turmrric</mat-option>
            <mat-option value="option">Maize</mat-option>
            <mat-option value="option">Paddy</mat-option>
            <mat-option value="option">Sunflower</mat-option>
            <mat-option value="option">Groundnut</mat-option>
            <mat-option value="option">Others</mat-option>
        </mat-select>
    </mat-form-field>
    <br>
    <!--Weight of Raw material Field -->
    <mat-form-field appearance="fill">
        <mat-label>Weight of Raw material </mat-label>
        <input matInput placeholder=" Enter Weight of Raw material">
    </mat-form-field>
    <!-- Price Field -->
    <mat-form-field appearance="fill">
        <mat-label>Price per Quintol </mat-label>
        <input matInput placeholder=" Enter Price">
    </mat-form-field>
    <!-- Total Amount Field -->
    <mat-form-field appearance="fill">
        <mat-label>Total Amount </mat-label>
        <input matInput placeholder=" Total Amount">
    </mat-form-field>
    <!-- Calculate button -->
    <button class="submit">Calculate</button>
</div>
<br><br>